{% extends "base.html" %}

{% block title %}Recherche{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="mb-4">Page de Recherche</h1>
        <form method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search_text" placeholder="Entrez votre recherche">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
